section {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 50vh;
    position: relative;
    text-align: center;
    color: $diffrent-text-color;
    #about {
        background-color: $color_2;
    }
    p{
      font-size: $font_size_l;
    }
}
