.contact {
    height: 80vh;
    color: black;
    background-image: url("../images/watercolor2.png");
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    a {
        text-decoration: none;
        color: black;
    }
    h1 {
        margin-top: 10%;
    }
}
@media(max-width:400px) {
    .contact {
        min-height: 100vh;
    }
}
