footer {
    margin: 0 auto;
    padding: 0;
    background-color: #ffffe0;
    min-height: 20vh;
    height: auto;
    p {

        color: grey;
        font-size: $font_size_m;
    }
    i {
        color: white;
    }
}
#contact-icons {
    // left: 43%;
    display: inline;
    position: relative;
    text-align: center;
    // margin-right: 0;
    z-index: 1;
    // top: 40%;
    .fa {
        font-size: 30px;
        // text-align: center;
        // display: inline-block;
        // margin: 0 1.5%;
        color: white;
        background: $main-color;
        padding-top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 5%;
        margin-left: 1.5%;
        // bottom: 0;
    }
}
