#portfolio {
    background-color: $bright-color;
    height: auto;
    min-height: 100vh;
}
.galeria-box {
    display: block;
    position: relative;
    margin: 0 auto;
    // height: 1000px;
    // max-width: 650px;
    .galeria-box-caption {
        display: block;

        // position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 100%;
        text-align: center;
        color: #fff;
        // opacity: 3;
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        transition: all 0.35s;
        .image_box {
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50vw;
            // height: 300px;
            top: 50%;
            width: 100%;
            text-align: center;
              opacity: 0.4;
            .project-name {
                padding: 0 15px;
                font-family: "Helvetica", serif;
                text-transform: uppercase;
                font-size: $font_size_xl;
                font-weight: 400;
                padding-top: 40%;
                color: #ffcb9a;
                opacity: 1;
            }
        }
        #img1 {

            background-image: url("https://s-media-cache-ak0.pinimg.com/564x/5b/6c/d6/5b6cd68653cf15b208ca604b478a0fc6.jpg");
        }
        #img2 {
            background-image: url("https://s-media-cache-ak0.pinimg.com/564x/4d/21/0d/4d210dec379d84e5813a2f3a5ca98378.jpg");
        }
        // #img3 {
        //     background-image: url("https://s-media-cache-ak0.pinimg.com/564x/d5/58/12/d55812b6d9c2509399806695787b83f3.jpg");
        // }
        // #img4 {
        //     background-image: url("https://s-media-cache-ak0.pinimg.com/564x/17/f8/ee/17f8ee362bb34d0e161eee63aa7846eb.jpg");
        // }
        // #img5 {
        //     background-image: url("https://s-media-cache-ak0.pinimg.com/564x/eb/0f/e6/eb0fe6fa4e354ddc79a6b3e30f120cca.jpg");
        // }
        // #img6 {
        //     background-image: url("https://s-media-cache-ak0.pinimg.com/564x/65/1e/18/651e18c553b4d5d92d9cfe97f9c4c76f.jpg");
        // }
    }
}
@media (min-width: 768px) {
    .project-name {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    .image_box {
        width: 100vw;
    }
}
.galeria-box-caption:hover {
  opacity: 1;

    // opacity:0;
    // padding: 0 15px;
    // font-family: "Helvetica", serif;
    // text-transform: uppercase;
    // font-size: $font_size_xxl;
    // font-weight: 400;
    // padding-top: 40%;
    // color: #ffcb9a;
    .image_box {
        // background-color:white;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50vw;

opacity: 1;
        // height: 300px;
        top: 50%;
        width: 100%;
        text-align: center;
        .project-name {
            padding: 0 15px;
            font-family: "Helvetica", serif;
            text-transform: uppercase;
            font-size: $font_size_xl;
            font-weight: 400;
            padding-top: 40%;
            color: #ffcb9a;
          // z-index: 100;
        }
        #img1 {
            background-color: #ffcb9a;

            // background-image: url("https://s-media-cache-ak0.pinimg.com/564x/5b/6c/d6/5b6cd68653cf15b208ca604b478a0fc6.jpg");
        }
        #img2 {
            background-color: #ffcb9a;
            // background-image: url("https://s-media-cache-ak0.pinimg.com/564x/4d/21/0d/4d210dec379d84e5813a2f3a5ca98378.jpg");
        }
    }
}
