
$main-color: #d6c9c9;
$main-dark: #222;

$accent:#77b6ea;
$accent-2:#eb3812;

// Lighter colors or with opacity
$lighter-color: #c7d3dd;
$bright-color: #ffffff;

$border-color:#fff;

$color: #f2f2f2;
$color_2: #ededed;
$color_3:rgba(255,255,255,1);
$color_4:rgba(154,154,154,.5);
$color_5:rgba(34,34,34,.05);
$color_6:rgba(255,255,255,.3);
$color_7:rgba(255,255,255,.7);

// Background colors

// Font colors

$font_color_2:rgba(0,0,0,.7);
$diffrent-text-color: #37393a;
$font-color: #222;
$text-faded: rgba(255,255,255,.7);




// Fonts
// font-family:
$main_font: 'Trirong', serif;
$accent_font: 'Cormorant', serif;


$font_size_m: 16px;
$font_size_l:24px;
